<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>Hugues Gentile</string>
	<key>developerURL</key>
	<string>https://www.productiontype.com/</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>HotlineGlyph</string>
	<key>requiresVersionMajor</key>
	<string>3</string>
	<key>requiresVersionMinor</key>
	<string>1</string>
	<key>timeStamp</key>
	<real>1592553660.916285</real>
	<key>version</key>
	<string>1.001</string>
</dict>
</plist>
